@{
    ViewBag.Title = "Home Page";
    <section>
        <div id="wrapperBanner">
            <div class="background">
                <div class="banner">
                    <center><img src="~/fonts/LogoAuto_qwy3d1_c_scale,w_200.png" /></center>
                </div>
            </div>
        </div>
    </section>
}