@{
    ViewBag.Title = "Home Page";
    <section>
        <div id="wrapperBanner">
            <div class="background">
                <div class="banner">
                    <center><img src="~/fonts/allmeco.jpg" /></center>
                </div>
            </div>
        </div>
    </section>
}